<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.label :brand, style: "display: block; color: #D2691E" %>
    <%= form.text_field :brand, class:"form-control", placeholder:"Brand/luthier" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :model, style: "display: block; color: #D2691E" %>
    <%= form.text_field :model, class:"form-control", placeholder:"Guitar model" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :body_type, style: "display: block; color: #D2691E" %>
    <%= form.text_field :body_type, class:"form-control", placeholder:"Body type (e.g. solid, plywood)" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :wood_type, style: "display: block; color: #D2691E" %>
    <%= form.text_field :wood_type, class:"form-control", placeholder:"Wood type" %>
  </div>
  <br>
    <div class="field form-group">
    <%= form.label :finish, style: "display: block; color: #D2691E" %>
    <%= form.text_field :finish, class:"form-control", placeholder:"Finish/Colour" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :price, style: "display: block; color: #D2691E" %>
    <%= form.text_field :price, class:"form-control", placeholder:"Purchasing price" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :condition, style: "display: block; color: #D2691E" %>
    <%= form.text_field :condition, class:"form-control", placeholder:"Condition (e.g. New, Very Good, Fair/Used)" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :nut_width, style: "display: block; color: #D2691E" %>
    <%= form.text_field :nut_width, class:"form-control" , placeholder:"Nut width"%>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :case_included, style: "display: block; color: #D2691E" %>
    <%= form.text_field :case_included, class:"form-control", placeholder:"Case included? (yes/no)" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :comments, style: "display: block; color: #D2691E" %>
    <%= form.text_field :comments, class:"form-control" , placeholder:"Extra comments"%>
  </div>
  <br><br>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :inventories_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit "Add to Inventory", class:"btn btn-secondary" %>
  </div>
<% end %>
