<div style="background-color: #343a40; border-radius: 24px; padding: 10px;"  id="<%= dom_id inventory %>">
  <p>
    <strong style="color: #D2691E;">Brand:</strong>
    <span style="color: #fff;"><%= inventory.brand %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Model:</strong>
    <span style="color: #fff;"><%= inventory.model %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Body type:</strong>
    <span style="color: #fff;"><%= inventory.body_type %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Wood type:</strong>
    <span style="color: #fff;"><%= inventory.wood_type %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Finish:</strong>
    <span style="color: #fff;"><%= inventory.finish %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Price:</strong>
    <span style="color: #fff;"><%= inventory.price %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Condition:</strong>
    <span style="color: #fff;"><%= inventory.condition %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Nut width:</strong>
    <span style="color: #fff;"><%= inventory.nut_width %></span>
  </p>

  <p style="color: #D2691E;">
    <strong>Comments:</strong>
    <span style="color: #fff;"><%= inventory.comments %></span>
  </p>

</div>
