<h1 style="color: #D2691E; font-family: Century Gothic;">Edit Guitar details</h1>

<%= render "form", inventory: @inventory %>

<br>

<div>
  <%= link_to "Show this inventory", @inventory %> |
  <%= link_to "Back to inventories", inventories_path %>
</div>
