<div class="d-flex align-items-center">
  <img src="/guitaricon.png" alt="Icon" width="150" height="150" style="vertical-align: ;">

  <h1 style="font-family: 'Century Gothic'; color: #D2691E; font-size: 28px; font-weight: bold; text-align: center; margin-bottom: 20px;
    margin-left: 20px;  text-decoration: underline;">Guitar Inventory</h1>
</div>
<table class="table table-dark table-striped" style="border-collapse: collapse; border-radius: 10px; overflow: hidden; width: 100%; background-color: gray;">
  <thead>
    <tr >
      <th>Brand</th>
      <th>Model</th>
      <th>Body</th>
      <th>Wood</th>
      <th>Finish</th>
      <th>Price</th>
      <th>Condition</th>
      <th>Nut</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <div id="inventories">
      <% @inventories.each do |inventory| %>
        <% if inventory.user == current_user %>
        <tr>
          <td><%= inventory.brand %></td>
          <td><%= inventory.model %></td>
          <td><%= inventory.body_type %></td>
          <td><%= inventory.wood_type %></td>
          <td><%= inventory.finish %></td>
          <td>£<%= inventory.price %></td>
          <td><%= inventory.condition %></td>
          <td><%= inventory.nut_width %></td>
          <td><%= inventory.comments %></td>
          <td><%= link_to "Show guitar", inventory %></td>
          <td><%= link_to "Edit", edit_inventory_path(inventory) %></td>
          <td><%= link_to 'Delete', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </div>
  </tbody>
<br>
<%= link_to "Add to Inventory", new_inventory_path, class:"btn btn-secondary", style: "display: block; margin: 0 auto; width: 200px; text-align: center; font-size: 16px; padding: 10px 20px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 0px; border-color: #D2691E; text-decoration: none; background-color: #D2691E; font-family: 'Century Gothic'" %>
<br><br>

<style>
  .btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 24px;
    background-color: #D2691E; /* Less intense brown color */
    color: white;
    border: 2px solid #000;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .btn:hover {
    background-color: #A0522D; /* Darker shade of brown on hover */
    transform: scale(1.05);
  }
</style>
