<br>
<h1 style="color: #D2691E; font-family: Century Gothic;"><u>Add Guitar to Inventory:</u></h1>

<%= render "form", inventory: @inventory %>

<br>

<div>
  <%= link_to "Back to Inventory", inventories_path %>
</div>
