<%= render @inventory %>

<div>
  <br>
  <%= link_to "Edit Guitar", edit_inventory_path(@inventory) %> |
  <%= link_to "Back to Inventory", inventories_path %>

  <%= button_to "Delete this Guitar", @inventory, method: :delete %>
</div>
