<h2 style="color: #D2691E; font-family: Century Gothic">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email , style:"color: #D2691E"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, style:"color: #D2691E" %> <i style="color: white" >(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password,class:"form-control", autocomplete: "new-password", style:"color: #D2691E" %>
    <% if @minimum_password_length %>
      <br />
      <em style="color: white"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <br />

  <div class="field">
    <%= f.label :password_confirmation, style:"color: #D2691E" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", style:"color: #D2691E" %>
  </div>
  <br />

  <div class="field from-group">
    <%= f.label :current_password, style:"color: #D2691E" %> <i style="color: white">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password", style:"color: #D2691E" %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-outline-none btn", style: "font-size: 16px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'; display: block; margin-left: 0px; margin-right: auto;"%>
  </div>
  <br />
<% end %>

<h3 style="color: #D2691E; font-family: Century Gothic"> Unhappy? </h3>

<div>

  <div class="btn-group">
  <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>

<br />
<%= link_to "Back", :back, style: "text-align: center; width: 100px; font-size: 16px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'; display: block; margin-left: auto; margin-right: auto;" %>
<br />
