<h2 style="color: #D2691E; font-family: Century Gothic;" >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email, style:"color: #D2691E; font-family: Century Gothic;" %><br />
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <br/>

  <div class="field form-group">
    <%= f.label :password, style:"color: #D2691E; font-family: Century Gothic;" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
  </div>

  <br/>

  <div class="field form-group">
    <%= f.label :password_confirmation, style:"color: #D2691E; font-family: Century Gothic;" %><br />
    <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
  </div>
  <br/>

  <div class="actions">
 <%= f.submit "Sign up", class:"btn btn-outline-none btn", style: "font-size: 16px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'; display: block; margin-left: 0px; margin-right: auto;" %>

  </div>
  <br/>
<% end %>

<%= render "devise/shared/links" %>
