<%= form_with(model: guitar) do |form| %>
  <% if guitar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

      <ul>
        <% guitar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :link, style: "display: block; color: #D2691E" %>
    <%= form.text_field :link, class:"form-control", placeholder:"Paste listing link here" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :brand, style: "display: block; color: #D2691E" %>
    <%= form.text_field :brand, class:"form-control", placeholder:"Brand/luthier" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :model, style: "display: block; color: #D2691E" %>
    <%= form.text_field :model, class:"form-control", placeholder:"Guitar model" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :body_type, style: "display: block; color: #D2691E" %>
    <%= form.text_field :body_type, class:"form-control", placeholder:"Body type (e.g. solid, plywood)" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :wood_type, style: "display: block; color: #D2691E" %>
    <%= form.text_field :wood_type, class:"form-control", placeholder:"Wood type" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :price, style: "display: block; color: #D2691E" %>
    <%= form.text_field :price, class:"form-control", placeholder:"Asking price" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :condition, style: "display: block; color: #D2691E" %>
    <%= form.text_field :condition, class:"form-control", placeholder:"Condition (e.g. New, Very Good, Fair/Used)" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :offers, style: "display: block; color: #D2691E" %>
    <%= form.text_field :offers, class:"form-control" , placeholder:"Open to offers? (yes/no)"%>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :nut_width, style: "display: block; color: #D2691E" %>
    <%= form.text_field :nut_width, class:"form-control" , placeholder:"Nut width"%>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :case_included, style: "display: block; color: #D2691E" %>
    <%= form.text_field :case_included, class:"form-control", placeholder:"Case included? (yes/no)" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :comments, style: "display: block; color: #D2691E" %>
    <%= form.text_field :comments, class:"form-control" , placeholder:"Extra comments"%>
  </div>
  <br>
  <div class="field form-group">
    <%= form.number_field :user_id, id: :guitar_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
