<div style="background-color: #343a40; border-radius: 24px; padding: 10px;"  id="<%= dom_id guitar %>">

  <p>
    <strong style="color: #D2691E;">Link:</strong>
    <div>
      <a style="font-size: 16px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'; display: block; margin-left: 5px; margin-right: auto;" class="btn btn-primary" data-bs-toggle="collapse" href="#<%= dom_id guitar %>_content" role="button" aria-expanded="false" aria-controls="<%= dom_id guitar %>_content">
        Show Link
      </a>
    </div>
    <br>

    <div class="collapse" id="<%= dom_id guitar %>_content" style="color: #fff; max-width: 1000px; overflow-wrap: break-word; word-break: break-all;">
      <%= guitar.link %>
    </div>

  </p>

  <p>
    <strong style="color: #D2691E;">Brand:</strong>
    <span style="color: #fff;"><%= guitar.brand %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Brand:</strong>
    <span style="color: #fff;"><%= guitar.brand %></span>
  </p>

  <p>
    <strong style="color: #D2691E;">Model:</strong>
    <span style="color: #fff;"><%= guitar.model %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Body Type:</strong>
    <span style="color: #fff;"><%= guitar.body_type %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Wood Type:</strong>
    <span style="color: #fff;"><%= guitar.wood_type %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Price:</strong>
    £<span style="color: #fff;"><%= guitar.price %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Condition:</strong>
    <span style="color: #fff;"><%= guitar.condition %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Offers?:</strong>
    <span style="color: #fff;"><%= guitar.offers %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Nut width:</strong>
    <span style="color: #fff;"><%= guitar.nut_width %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Case included?:</strong>
    <span style="color: #fff;"><%= guitar.case_included %></span>
  </p>

  <p>
    <strong style="color: #D2691E";>Comments:</strong>
    <span style="color: #fff;"><%= guitar.comments %></span>
  </p>

</div>