<h1 style="color: #D2691E; font-family: Century Gothic;">Edit Guitar details</h1>

<%= render "form", guitar: @guitar %>

<br>

<div>
  <%= link_to "Back to guitars", guitars_path, class:"btn btn-secondary" %>
</div>
