<div class="d-flex align-items-center">
  <img src="/guitaricon.png" alt="Icon" width="150" height="150" style="vertical-align: ;">

  <h1 style="font-family: 'Century Gothic', sans-serif; font-size: 28px; font-weight: bold; text-align: center; margin-bottom: 20px; color: #D2691E;
    margin-left: 20px;  text-decoration: underline;">All Guitar Listings</h1>
</div>
<table class="table table-dark table-striped" style="border-collapse: collapse; border-radius: 10px; overflow: hidden; width: 100%; color: gray">
  <thead>
    <tr >
      <th>Link</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Body</th>
      <th>Wood</th>
      <th>Price</th>
      <th>Condition</th>
      <th>Offers</th>
      <th>Nut</th>
      <th>Case</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-group-divider" style="background-color: gray">
    <div id="guitars">
      <% @guitars.each do |guitar| %>
        <% if guitar.user == current_user %>
        <tr>
          <td><%= link_to "View Listing", guitar.link, target: "_blank" %></td>
          <td><%= guitar.brand %></td>
          <td><%= guitar.model %></td>
          <td><%= guitar.body_type %></td>
          <td><%= guitar.wood_type %></td>
          <td>£<%= guitar.price %></td>
          <td><%= guitar.condition %></td>
          <td><%= guitar.offers %></td>
          <td><%= guitar.nut_width %></td>
          <td><%= guitar.case_included %></td>
          <td><%= guitar.comments %></td>
          <td><%= link_to "Show Guitar", guitar %></td>
          <td><%= link_to "Edit", edit_guitar_path(guitar) %></td>
          <td><%= link_to 'Delete', guitar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </div>
  </tbody>
<br>
<%= link_to "Add Guitar Listing", new_guitar_path, class:"btn btn-secondary", style: "display: block; margin: 0 auto; width: 200px; text-align: center; font-size: 16px; padding: 10px 20px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'" %>
<br><br>

