<br>
<h1 style="font-family: 'Century Gothic'; color: #D2691E;"><u>Add Guitar to Listings</u></h1>
<br>

<%= render "form", guitar: @guitar %>

<br>

<div>
  <%= link_to "Back to Guitars", guitars_path %>
</div>
