<%= render @guitar %>

<div>
  <br>
  <%= link_to "Edit this Guitar", edit_guitar_path(@guitar), class:"btn btn-secondary" %> |
  <%= link_to "Back to Guitars", guitars_path, class:"btn btn-dark"  %>
  <br>

  <%= button_to "Destroy this Guitar", @guitar, method: :delete, class:"btn btn-danger" %>
</div>

<br>
 dev<br>
