<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password", style:"color: #D2691E; font-family: Century Gothic;" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password", style:"color: #D2691E; font-family: Century Gothic;" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class:"btn btn-outline-none btn", style: "font-size: 16px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'; display: block; margin-left: 0px; margin-right: auto;" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
