<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="/logo.png" alt="Icon" width="50" height="50" style="margin-right: 20px;">
    <%= link_to 'Guitar Tracker', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Listings", guitars_path, class:"nav-link active" %>
        </li>

        <li class="nav-item">
          <%= link_to "Inventory", inventories_path, class:"nav-link active" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link active" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link active" %>
          </li>
        <% end %>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-none btn search" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<style>
  /* Custom CSS for navbar */
  .navbar {
    background-color: #343a40 !important; /* Set navbar background color */
  }

  /* Custom CSS for navbar links */
  .navbar-nav .nav-link {
    position: relative;
    transition: border-bottom-color 0.3s ease; /* Add transition for smooth animation */
    color: #fff; /* Set navbar link color */
  }

  /* Custom CSS for navbar link hover effect */
  .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #ff4500; /* Change the border color on hover */
  }
</style>

<style>
  /* Custom CSS for navbar search button */
  .btn-search {
    border: none;
    border-color: #D2691E; /* Remove the border */
    border-radius: 24px; /* Add border-radius for rounded corners */
  }
</style>

<style>
  .btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 24px;
    background-color: #D2691E; /* Less intense brown color */
    color: white;
    border: 2px solid #000;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .btn:hover {
    background-color: #A0522D; /* Darker shade of brown on hover */
    transform: scale(1.05);
  }
</style>