<h1 style="color: #D2691E; font-family: Century Gothic;">Welcome to Guitar Tracker!</h1>
<h3 style="color: white; font-family: Century Gothic; margin-left: 0px;"> Sign Up to Get Started.</h3><br>
<p style="color: #D2691E; font-family: Century Gothic;"> - Click 'Listings' to view and add to current stored listings </p>
<p style="color: #D2691E; font-family: Century Gothic;"> - Click 'Inventory' to view and add to current stored listings </p>  

<%# List of features, how to use, how to upload images %>