<h2 style="color: #D2691E; font-family: Century Gothic;">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, style:"color: #D2691E; font-family: Century Gothic;" %><br />
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :password, style:"color: #D2691E; font-family: Century Gothic;" %><br />
    <%= f.password_field :password, class:"form-control",autocomplete: "current-password" %>
  </div>
  <br>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, style:"color: #D2691E; font-family: Century Gothic;" %>
      <%= f.label :remember_me, style:"color: #D2691E" %>
    </div>
  <% end %>

  <br>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-outline-none btn", style: "font-size: 16px; border-radius: 24px; background-color: #D2691E; color: white; border-width: 2px; border-color: #D2691E; text-decoration: none; font-family: 'Century Gothic'; display: block; margin-left: 0px; margin-right: auto;" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
